@model Sistema.Models.Clientes
@{
    ViewBag.Title = "HOME";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Cliente</h2>

<div class="row">
    <div class="col-md-5">
        <div class="form-control">

            <label>Nome: </label>
            <input type="Text" id="Nome" class="form-control" /> <br />
            <label>Senha: </label>
            <input type="password" id="Senha" class="form-control" /> <br />
            <input type="submit" class="btn btn-success text-dark" >

        </div>
    </div>
</div>

